package pages

import (
	"github.com/cleanupDev/blog/internal"
	"github.com/cleanupDev/blog/templates"
)

templ ArticlePage(article internal.Article) {
	@templates.Layout(article.Title) {
		<div class="container">
			<h1>{ article.Title }</h1>
			<p>{ article.Content }</p>
		</div>
	}
}
