package pages

import (
	"github.com/cleanupDev/blog/internal"
	"github.com/cleanupDev/blog/templates"
)

templ HomePage(articles []internal.Article) {
	@templates.Layout("Blog Home") {
		<div class="container">
			<h1>Welcome to my blog</h1>
			for _, article := range articles {
				<article>
					<h2>{ article.Title }</h2>
					<p>{ article.Summary }</p>
				</article>
			}
		</div>
	}
}
