<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org"></script>  <!-- HTMX for interaction -->
</head>
<body>
    <h1>Welcome to {{.Title}}</h1>
    <div hx-get="/test-htmx" hx-swap="outerHTML">
        <p>Click here for to load content with HTMX.</p>
    </div>

    <div>
        <h2>Posts</h2>
        <ul>
            {{range .Posts}}
                <li>
                    <a href="/post/{{.ID}}">{{.Title}}</a>
                </li>
            {{end}}
        </ul>
    </div>
</body>
</html>
