package templates

templ Layout(pageTitle string) {
	<html>
		<head>
			<title>{ pageTitle }</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		</head>
		<body>
			@Header("My Awesome Blog")
			{ children... }
			@Footer()
		</body>
	</html>
}
